<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- 是否打印所在的行号(对性能影响比较大) -->
        <property name="enable_log_location">true</property>
        <!-- 单次写入日志文件的块大(byte) -->
        <property name="buffer_size">1048576</property>
        <!-- 日志输出目录 -->
        <property name="LOG_HOME">logs/${application.name}-${vmid}-${application.group}</property>
        <!-- %d{yyyy-MM-dd HH:mm:ss, SSS} : 日志产生时间,输出到毫秒的时间
            %-5level : 输出日志级别，-5表示左对齐并且固定输出5个字符，如果不足在右边补0
            %C : logger的名称(%logger)
            %t : 输出当前线程名称
            %m : 日志内容，即 logger.info("message")
            %N : 换行符
            %C : Java类名(%F)
            %LOCAL_HOST : 行号
            %M : 方法名
            %l : 输出语句所在的行数, 包括类名、方法名、文件名、行数 -->
        <property name="default_pattern">
            [%d{yyyy-MM-dd HH:mm:ss:SSS}] [%level] [%t] [%l] %m%n
        </property>
    </Properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${default_pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 默认日志打印文件 -->
        <Root level="INFO" additivity="false" includeLocation="${enable_log_location}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>